.btn {
  &,
  &-default {
    background: #c4c4c4;
    padding: rem-calc(12 40);
    color: $black;
    border-radius: rem-calc(35);

    font-weight: 600;
    font-size: rem-calc(24);
    line-height: rem-calc(37);
    color: #191919;

    transition: background 200ms $easeInOut;

    @include hoverStates {
      background: $white;
    }
  }
}
