.btn {
  &,
  &-default {
    padding: rem-calc(12 40);
    background: $white;
    color: $black;
    border-radius: rem-calc(35);

    font-weight: 600;
    font-size: rem-calc(24);
    line-height: rem-calc(37);
    color: #191919;
  }
}
