.header {
  background: $black;
  padding-top: rem-calc(50);
  padding-bottom: rem-calc(50);
  &-brand {
    font-weight: 700;
    font-size: rem-calc(24);
    line-height: rem-calc(37);
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
}
