.hero-blok {
  background: #1a1a1a;
  padding: rem-calc(50 0);
  .blok {
    &-title {
      font-weight: 700;
      font-size: rem-calc(90);
      line-height: rem-calc(137);

      color: #ffffff;

      @media screen and (max-width: 991.9999px) {
        font-size: rem-calc(40);
        line-height: rem-calc(72);
      }
    }
  }
  .hero {
    &-social {
      margin-top: rem-calc(75);
      display: flex;
      gap: rem-calc(24);
      &-link {
        a {
          text-decoration: none;
        }

        opacity: 0.8;

        transition: opacity 200ms $easeInOut;

        &:hover {
          opacity: 1;
        }
      }
      &-icon {
        height: rem-calc(24);
        width: rem-calc(24);
      }
    }
  }
}
